<div class="row">
  <div class="col-sm-4">
    <div class="card shadow">
      <div class="card-header">
        <h6 class="text-primary font-weight-bold">Video Stream</h6>
      </div>
      <div class="card-body">
        <p>Some Video Stream</p>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card shadow">
      <div class="card-header">
        <h6 class="text-primary font-weight-bold">Textual Emotion Analysis</h6>
      </div>
      <div class="card-body">
        <p>something</p>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card shadow">
      <div class="card-header">
        <h6 class="text-primary font-weight-bold">Visual Emotion Analysis</h6>
      </div>
      <div class="card-body">
        <p>something</p>
      </div>
    </div>
  </div>
</div>
