{{#voice-recognition onResult='getResult' enabled=sessionRunning}}{{/voice-recognition}}
<div class="row">
  <div class="col-sm-4">
    {{#shadow-card title="Video Stream"}}
      {{#if sessionRunning}}
        {{#ember-webcam
          didSnap=(action 'didSnap')
          didError=(action 'didError')
          as |camera|}}
        {{/ember-webcam}}
      {{/if}}
    {{/shadow-card}}
  </div>
  <div class="col-sm-4">
    {{#shadow-card title="Textual Emotion Analysis"}}
      {{ember-chart type='bar' data=textSentimentData width=200 height=100}}
    {{/shadow-card}}
  </div>
  <div class="col-sm-4">
    {{#shadow-card title="Visual Emotion Analysis"}}
      {{ember-chart type='bar' data=textSentimentData width=200 height=100}}
    {{/shadow-card}}
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    {{#shadow-card title="Text Stream"}}
    {{/shadow-card}}
  </div>
  <div class="col-sm-6">
    {{#shadow-card title="Text Sentiment Analysis"}}
      {{ember-chart type='line' data=textSentimentData width=200 height=100}}
    {{/shadow-card}}
  </div>
</div>