<div class="row">
  <div class="col-sm-4">
    {{#shadow-card title="Videdo Stream"}}
      {{#if showWebcam}}
        {{#ember-webcam
          didSnap=(action 'didSnap')
          didError=(action 'didError')
          as |camera|}}
        {{/ember-webcam}}
      {{/if}}
    {{/shadow-card}}
  </div>
  <div class="col-sm-4">
    {{#shadow-card title="Textual Emotion Analysis"}}
      <p>something</p>
    {{/shadow-card}}
  </div>
  <div class="col-sm-4">
    {{#shadow-card title="Visual Emotion Analysis"}}
      <p>something</p>
    {{/shadow-card}}
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    {{#shadow-card title="Text Stream"}}
    {{/shadow-card}}
  </div>
  <div class="col-sm-6">
    {{#shadow-card title="Text Sentiment Analysis"}}
      {{#vertical-bar-chart data=textSentimentData height=200}}
      {{/vertical-bar-chart}}
    {{/shadow-card}}
  </div>
</div>