<div class="row">
  <div class="col-sm-4">
    <div class="card shadow">
      <div class="card-header">
        <h6 class="text-primary font-weight-bold">Video Stream</h6>
      </div>
      <div class="card-body">
        {{#if showWebcam}}
          {{#ember-webcam
            didSnap=(action 'didSnap')
            didError=(action 'didError')
            as |camera|}}
          {{/ember-webcam}}
        {{/if}}
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card shadow">
      <div class="card-header">
        <h6 class="text-primary font-weight-bold">Textual Emotion Analysis</h6>
      </div>
      <div class="card-body">
        <p>something</p>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card shadow">
      <div class="card-header">
        <h6 class="text-primary font-weight-bold">Visual Emotion Analysis</h6>
      </div>
      <div class="card-body">
        <p>something</p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="card shadow">
      <div class="card-header">
        <h6 class="text-primary font-weigth-bold">Text Stream</h6>
      </div>
      <div class="card-body"></div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card shadow">
      <div class="card-header">
        <h6 class="text-primary font-weight-bold">Text Sentiment Analysis</h6>
      </div>
      <div class="card-body">
        {{vertical-bar-chart data=textSentimentData}}
      </div>
    </div>
  </div>
</div>
