<div id="wrapper">
  <!-- Sidebar -->
  {{side-bar}}
  <!-- End of Sidebar -->

  <div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

      <!-- Topbar -->
      {{nav-bar}}

      <div class="container-fluid">
        {{outlet}}
      </div>

    </div>
    {{foo-ter}}
  </div>
</div>
    